
/*
 Colors Used:
 #6e4a8f; purple
 #d1d1d1; Gray82
 #22BDC4; teal
 #3A2050; Dark-sky purple

------------------------------------
 New Color palate
 #889A8C; light forest green
 #C0919C; light pink
 #253B31; dark green
-------------------------------------

 --Not Used--
 #1A1D1C: Carcol black
 #5BEDDA: Teal for Carcol
  */

:root {
  --primary-color: #234442;   /* dark paint green */
  --secondary-color: #c0919c;  /* light pink */
  --secondary-color-2: #0f2117; /* dark green */
  --logo-pink: #a77374;         /* dark pink */
  --logo-yellow: #d8bc73;      /* mustard yellow */
  --main-background-color: #fff; /* white */
  --light-purple: #d4c2e7;
  --light-gray: #d6d6d6;
  --black: #000;
  --teal: #22bdc4;
  --body-font: "Lato";
  --header-font: "PT sans";
  --body-font-size: 16px;
  --header-font-size: 30px;
  --secondary-header-font-size: 20px;
  --nav-font-size: 18px;
  --body-font-weight: 400;
  --header-font-weight: 700;
}

* {
  box-sizing: border-box; /* Makes all elements fit on screen */
}

body {
  background-color: var(--main-background-color);
  font-family: var(--body-font), sans-serif;
  font-weight: 300;
  font-size: var(--body-font-size); /* Sets the font size to 16pz */
  line-height: 1.6; /* Sets the line-height to 1.6 */
  height: 100vh; /* gives body a height equivalent to viewport size */
  display: flex; /* allows container footer to have margin:auto and be at bottom of page */
  flex-direction: column; /* makes container a column */
  align-items: center; /* centers everything horizontaly */
}

.container {
  width: 90vw;
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-family: var(--header-font), sans-serif;
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  font-variant: normal;
}

h2 {
  font-family: var(--header-font), sans-serif;
  font-size: var(--secondary-header-font-size);
  font-weight: var(--header-font-weight);
  font-variant: normal;
}

a {
  color: var(--black);
  text-decoration: underline;
}

a:hover,
a:focus {
  /* Overlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selceted link */
  color: var(--logo-yellow); /* yellow */
}

span {
  font-style: italic;
}

button,
.button,
.form-group input[type="submit"] {
  /* overwrites browser defaults and resets the broder */
  border: none;

  /* takes the font from the outer container */
  font-family: var(--body-font), sans-serif;

  /* styles the background color, font color and text decoration (unerline, etc.) of the button */
  background-color: var(--secondary-color); /* light pink */
  color: var(--black); /* black */
  text-decoration: none;

  /* adds spacing to the button (this will be duscussed later) */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

.form-group input[type="submit"] {
  box-shadow: 1px 2px 5px 1px var(--black);
}

button:hover,
button:focus,
.button:hover,
.button:focus,
.form-group input[type="submit"]:hover,
.form-group input[type="submit"]:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;

  /* reduces the opacity of the button to 70% */
  opacity: 0.7;
  text-decoration: none;
}

/* Header container */
.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-shadow: 1px 2px 6px 1px var(--secondary-color-2);
  background-color: var(--primary-color);
}

/* logo {jb} */
.logo {
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
  width: 100%;
  max-width: 90px;
  object-fit: contain;
}

/* navigation and logo top */
.page-header__item {
  flex: 0 1 200px; /* sets sizes for logo and nav list */
}

/* target is last item in navigation list */
.page-header__item:last-child {
  flex-grow: 1; /* allows to take up rest of space available */
  text-align: right; /* makes right aligned */
}

/* nav. list */
.navigation-list {
  list-style-type: none; /* removes bullet points */
  text-decoration: none;
  margin-right: 20px;
  font-weight: var(--header-font-weight);
  font-family: var(--header-font), sans-serif;
  font-size: var(--nav-font-size);
}

/* targets each navigation iteam */
.navigation-list li {
  display: inline-block; /* aligns nav list into row */
  margin-left: 15px; /* puts 15px margins(spaces) between list iteams */
}

.navigation-list__item {
  text-decoration: none; /* removes underline from nav list names */
  color: var(--main-background-color); /* makes nav items white */
}

.navigation-list__item:hover,
.havigation-list__item:focus {
  text-decoration: overline; /* applies overline to nav bar when hovered over */
}

.navigation-list__item--active {
  text-decoration: overline; /* Overlining name the page its on */
}

/* Work page h1 */
.work-header {
  width: 100vw;
  text-align: center;
}

/* home page profile container layout */
.profile {
  display: flex;
  max-width: 700px; /* max size of 700px */
  margin: 40px; /* margin for bottom spacing and all around */
}

/* index page portrait */
.profile__portrait {
  float: left; /* floats image left on page */
  width: 250px;
  height: auto;
  margin-right: 40px; /* space between image and text */
  border-radius: 50%; /* rounds corners of image to make circle */
}

.homepage-button {
  margin-top: 30px;
}

/* about page container */
.about {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* about page portrait */
.about__portrait {
  float: right;
  width: 100%;
  max-width: 525px;
  height: auto;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 8px;
  justify-content: center;
}

#about__text {
  margin: 0 30px;
}

/* <p> in about container */
.about p {
  text-align: left;
}

/* footer on all */
.page-footer {
  clear: both; /* clears footer of float */
  display: flex;
  flex-direction: column; /* moves logos below string "Find me on" */
  justify-content: flex-end;
  text-align: center; /* centers all text and inline or inline-block elements */
  margin-top: auto;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  background-color: var(--secondary-color); /* pink */
  color: var(--black);
  padding: 20px;
  width: auto;
  min-height: auto;
  margin: 0;
}

/* end grid fallback */

.grid {
  display: grid;

  /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 10px;
}

/* Work page links to getHub */
.grid__item a:visited {
  color: var(--main-background-color); /* Changed visted links to white for accesablity */
}

/* Targeting grid item to expand across mulitpule cells (grid area) */
.grid__item:last-child {
  grid-column: 3 / 3; /* child should be in 3rd column . Long hand: grid-column-start: 3; grid-column-end: 1; */
  grid-row: 1 / 3; /* child should start in first row end at beginning of thrid row. Long hand: grid-row-start: 1; grid-row-end: 3; */
}

.work_img > img {
  width: 100%;
}

.work_links {
  display: flex;
  justify-content: space-around;
}

.contact-info {
  text-align: center;
}

/* Contact form layout */
.contact-form {
  max-width: 1000px;
  padding: 30px;
  margin: 50px 0;
  justify-content: center;
  background-color: var(--primary-color); /* light forest green */
  color: var(--main-background-color);
  border-radius: 40px;
  box-shadow: 1px 3px 12px 1px var(--secondary-color-2); /* dark green */
}

.form-group {
  padding: 10px;
}

.form-group label {
  display: block;
}

.form-group input[type="text"],
input[type="email"],
input[type='tel'],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.form-group textarea {
  max-width: 100%;
}

.form-group__submit {
  text-align: center;
}

.error-message {
  color: var(--logo-yellow);
  font-size: 0.8em;
}

/* ===================================
       Screen sizes up to 500px
  =================================== */
@media all and (max-width: 500px) {
  ul {
    padding-left: 0;
  }

  .page-header {
    flex-direction: column;
    align-items: center;
  }

  .page-header__item {
    flex: none;
    margin: 10px auto;
  }

  .profile__portrait {
    float: none;
    margin: 20px auto;
    margin-bottom: 10px;
  }

  .profile {
    text-align: center;
  }

  .homepage-button {
    text-align: center;
    margin-top: 10px;
  }

  /* about page container */
  .about {
    display: block;
    width: 90%;
    margin: 20px auto; /* centers box in middle of page */
    text-align: center;
  }

  .about__portrait {
    float: none;
    margin: 0;
    padding: 0 10px;
  }

  /* <p> in about container */
  .about p {
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr; /* sets grid to 1 column */
  }

  .logo {
    margin-top: 20px;
    margin-bottom: 5px;
    max-width: 90px;
  }
}

/* ====================================================
      Screen sizes between 500px and 750px
====================================================== */
@media all and (min-width: 500px) and (max-width: 770px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  /* about page container */
  .about {
    display: block;
    width: 90%;
    margin: 20px auto; /* centers box in middle of page */
    text-align: center;
  }

  /* portrait on about page */
  .about__portrait {
    float: none;
    margin: 0; /* resets margins from above */
    padding: 0 10px;
  }
}

/* ===================================
     Shared rules for above @medias
====================================== */
@media all and (max-width: 770px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 25px;
  }
}

/* =================================================================
Below is styling for animation for sun to change from yellow to red
==================================================================== */

@keyframes color-change {
  0% {
    fill: #edc655; /* 0% can also be "from". Starting point. */
  }

  50% {
    fill: #fcffad; /* percentage adds more felxiblility */
  }

  100% {
    fill: #f76414; /* 100% can also be "to". Stoping point */
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.experience-table {
  float: none;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
